body{
    background-color: beige;

}

.main{
    margin: 100px;
    padding: 20px;
    text-align: center;
    border-radius: 25px;
    background-color: cornflowerblue;
    font-family: "Lucida Console", Arial;
}